<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="Polly" version="6.1.1" targetFramework="net472" />
  <package id="PortableSettingsProvider" version="0.1.1" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
</packages>