<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Polly" version="7.2.1" targetFramework="net472" />
  <package id="PortableSettingsProvider" version="0.2.3" targetFramework="net472" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="Quartz.Jobs" version="3.0.7" targetFramework="net472" />
  <package id="Quartz.Plugins" version="3.0.7" targetFramework="net472" />
  <package id="Quartz.Serialization.Json" version="3.0.7" targetFramework="net472" />
  <package id="Topshelf" version="4.1.0" targetFramework="net472" />
</packages>