<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecurringIntegrationsScheduler.Common.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RecurringIntegrationsScheduler.Common.AppSettings>
            <setting name="ImportFromPackageRelativePath" serializeAs="String">
                <value>data/CgkDataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage</value>
            </setting>
        </RecurringIntegrationsScheduler.Common.AppSettings>
    </applicationSettings>
</configuration>